* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-menu {
    position: relative;
    width: 4.5rem;
    height: 3.4rem;
    cursor: pointer;
}

.burger-menu span {
    position: absolute;
    top: 0;
    height: 0.8rem;
    border-radius: 0.4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.burger-menu span:nth-child(1) {
    top: 0;
}
.burger-menu span:nth-child(2),
.burger-menu span:nth-child(3) {
    top: 1.3rem;
}
.burger-menu span:nth-child(4) {
    top: 2.6rem;
}

/* Hide top and bottom */
.burger-menu.active span:nth-child(1),
.burger-menu.active span:nth-child(4) {
    opacity: 0;
}

/* Rotate middle two */
.burger-menu.active span:nth-child(2) {
    transform: rotate(45deg);
}
.burger-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
}
